@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Georama:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

html,
body {
  height: 100%;
  width: 100%;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-Antonio {
  font-family: "Antonio", sans-serif;
}

.font-Georama {
  font-family: "Georama", sans-serif;
}

.tooltip {
  padding-top: 0.25rem !important; /* !py-1 (4px) */
  padding-bottom: 0.25rem !important; /* !py-1 (4px) */
  padding-left: 0.75rem !important; /* !px-3 (12px) */
  padding-right: 0.75rem !important; /* !px-3 (12px) */
  width: fit-content !important; /* !w-fit */
  text-align: center !important; /* !text-center */
  font-size: 0.75rem !important; /* !text-xs (12px) */
  line-height: 1rem !important; /* !text-xs (16px) */
  border-radius: 0.375rem !important; /* !rounded-md (6px) */
  background-color: #bfdbfe !important; /* !bg-blue-200 */
  color: #1e3a8a !important; /* !text-blue-900 */
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25) !important; /* !shadow-2xl */
}
