@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Georama:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

:root {
  --font-georama: system-ui, sans-serif;
  --font-pricedown: sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-Antonio {
  font-family: "Antonio", sans-serif;
}

.font-Georama {
  font-family: "Georama", sans-serif;
}

.tooltip {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
  width: fit-content !important;
  text-align: center !important;
  font-size: 0.75rem !important;
  line-height: 1rem !important;
  border-radius: 0.375rem !important;
  background-color: #bfdbfe !important;
  color: #1e3a8a !important;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25) !important;
}

.scrollbar-small {
  scrollbar-color: #646464 transparent;
  scrollbar-width: auto;
}

.price {
  font-family: var(--font-pricedown);
}

.geo{
  font-family: var(--font-georama);
}
